<div class="row">
    <div class="col-lg-5">
        <div style="margin-bottom:25px;" class="markdown"><%= Kramdown::Document.new(@issue.description).to_html.html_safe %></div>
    </div>
    <div class="col-lg-7">
        <div id="scenarios-label-filter">
            <%= render partial: 'label_filter' %>
        </div>
        <div id="scenarios-table">
            <%= render partial: 'scenarios/scenarios_grid' %>
        </div>
    </div>
</div>
