<small><%= t('labels.completion_with') %> (<%= round_progress_text(round) %>): <%= round_progress_percentage(round) %>% </small>
<div class="progress progress-mini">
    <div style="width: <%= round_progress_percentage(round) %>%;" class="progress-bar progress-bar-success"></div>
</div>
