<div class="btn-toolbar m-b">
    <div class="btn-group">
        <%= link_to t('buttons.all_labels'), project_path(@project, page: params[:page], tab: params[:tab]), class: "btn btn-white btn-sm #{@no_label.nil? && @current_label.nil? ? 'active' : ''}" %>
        <%= link_to t('buttons.no_label'), project_path(@project, no_label: true, page: params[:page], tab: params[:tab]), class: "btn btn-white btn-sm #{@no_label ? 'active' : ''}" %>
    </div>

    <div class="btn-group">
        <% labels.each do |label| %>
        <%= link_to label.name, project_path(@project, page: params[:page], label_id: label.id, tab: params[:tab]), class: "btn btn-white btn-sm #{(@current_label && label.id == @current_label.id) ? 'active' : ''}" %>
        <% end %>
    </div>
</div>
