
<div class="row">
    <div class="col-lg-8">
        <div id="scenarios-list">
            <%= render partial: 'scenarios_list' %>
        </div>
    </div>
    <div class="col-lg-4">
        <div id="issues-nav">
            <%= render partial: 'issues_nav' %>
        </div>
    </div>

</div>
