<div class="row">
    <div class="col-lg-4">
        <div id="issues-jstree">
            <ul>
                <% @project.issues.each do |issue| %>
                <%= content_tag :li, [issue.title, scenarios_tree(issue)].join.html_safe, data: { jstree: 'issue'} %>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="col-lg-8">

    </div>
</div>
