<div class="btn-group">
    <button type="button" class="btn dropdown-toggle <%= button_style %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= Execution.result_names[current_result] %> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <% ExecutionResult.enums.each do |k, v| %>
        <li><%= link_to Execution.result_names[v], execute_scenario_path(params[:scenario_id], params.except(:scenario_id).merge(result: v)), method: :post %></li>
        <% end %>
    </ul>
</div>
