<div id="scenarios-list">
    <div class="row m-b-sm m-t-sm">
        <div class="col-lg-8">
            <h3><%= @issue.nil? ? t('activerecord.text.all', model: Scenario.model_name.human) : "#{@issue.title} #{Scenario.model_name.human}"%></h3>
        </div>
        <div class="col-lg-4">
            <div class="toolbar m-b-xs pull-right">

            </div>
        </div>
    </div>

    <%= datagrid_table(@executions_grid, html: { class: 'table table-hover datagrid' }) %>
    <%= paginate @executions_grid.assets %>
</div>
