<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header" style="height: 60px;">
                <div class="logo-element">
                    TMS
                </div>
            </li>
            <%= render_navigation level: 1..2, renderer: :inspinia_sidebar_renderer, expand_all: true %>
        </ul>

    </div>
</nav>
