<div class="row border-bottom white-bg">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" method="post" action="/">
                <div class="form-group">
                    <input type="text" placeholder="<%= t('messages.search_for_something') %>" class="form-control" name="top-search" id="top-search" />
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Administrator <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"> Edit </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#"> Log Out </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
